<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <title>Hakkında</title>
</head>
<body>

  <div class="mt-2 d-flex justify-content-center">
    <div class="column">
      <div class="row align-items-center">
        <h5>Geliştirici: Semih ŞENOL (TA2LSM)
          <!-- <a href="https://github.com/TA2LSM">Semih ŞENOL (TA2LSM)</a> -->
        </h5>
      </div>

      <div class="row align-items-center">
        <p class="font-italic">İstenildiği gibi kullanılabilir.</p>
      </div>
    </div>
  </div>

</body>
</html>