<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/style.css">
  <link rel="stylesheet" href="../assets/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
  <title>Electron.js Tutorial</title>
</head>

<body>   
  <!-- Front-end Codes -->
  <div class="container pt-3 pl-0 pr-0 text-center">
    <h4 class="text-center">Electron.js Tutorial</h4>
    
    <div class="row pt-2 pl-0 pr-0 justify-content-center">
      <div class="col-md-5">
        <button class="btn-block btn btn-warning" id="showTodoListBtn">Yapılacak Listesini Görüntüle</button>
      </div>
    </div>

    <div class="row pt-3 pl-0 pr-0 align-items-center">
      <div class="col d-flex justify-content-between">
        <input class="w-100 mr-2" type="text" id="data-input" placeholder="Veri girin..." autofocus>
        <button class="btn btn-primary flex-shrink-1 bi bi-terminal" id="sendBtn"> Konsol</button>
      </div>
    </div>
  </div>

  <div class="container pl-0 pr-0 pt-4">
    <div class="row justify-content-center" style="background-color: bisque";>

      <div class="col-md-6 mr-2">
        <div class="row pl-1 pt-1 align-items-center">
          <div class="btn-group">
            <button type="button" style="width: 100%; overflow: hidden;" class="btn btn-success dropdown-toggle bi bi-usb-symbol"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="comPortList" disabled>
              Port
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id="serial-port-dropdown-menu">
              <!-- <a class="dropdown-item">-YOK-</a> -->
            </ul>
          </div>          
        </div>

        <div class="row pl-1 mt-2">
          <table class="table table-light">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Bilgi</th>
                <th scope="col">Açıklama</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Port</th>
                <td id="table-device-port-number"></td>
              </tr>
              <tr>
                <th scope="row">Adı</th>
                <td id="table-device-name"></td>
              </tr>
              <tr>
                <th scope="row">Üretici</th>
                <td id="table-device-manufacturer"></td>
              </tr>
              <tr>
                <th scope="row">Seri No</th>
                <td id="table-device-serial-number"></td>
              </tr>
              <tr>
                <th scope="row">Yol</th>
                <td id="table-device-locationId"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col w-100">
        <div class="row pt-1 pr-1">
          <textarea class="w-100" style="resize: none; font-size: small;" name="dataTerminal" id="data-terminal" cols="30" rows="20" readonly wrap></textarea>
        </div>

        <div class="row pt-1 pb-1 align-items-center">
          <div class="col d-flex pl-0 pr-1 justify-content-between">
            <input class="w-100 mr-2" type="text" id="data-input" placeholder="Veri girin...">
            <button class="btn btn-primary flex-shrink-1 bi bi-send" id="serialSendBtn"> Gönder</button>
          </div>
        </div>
      </div>
      

    </div>

    <div class="row pt-1 align-items-center justify-content-center">
      <b>Node</b>&nbsp;v<span id="node-version"></span>,&nbsp;
      <b>Chromium</b>&nbsp;v<span id="chrome-version"></span>,&nbsp;
      <b>Electron</b>&nbsp;v<span id="electron-version"></span>,&nbsp;
      <b>Serialport</b>&nbsp;v<span id="serialport-version"></span>
    </div>
  </div>
  
  <!-- Include order: jQuery first, then Popper.js (umd version), then Bootstrap.js -->
  <script src="../assets/jquery.slim.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <script src="../assets/popper.min.js"></script>

  <!-- <script src="../assets/bootstrap.js"></script> -->
  <script src="../assets/bootstrap.min.js"></script>
  <!-- <script src="../assets/bootstrap.bundle.min.js"></script> -->
  
  <!-- User scripts are need to be in here at last line of code -->
  <script src="../src/renderer.js"></script>  
</body>

</html>