<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/bootstrap.min.css">
  <title>Electron.js Tutorial</title>
</head>

<body>   
  <div class="container pt-5">
    <h4 class="text-center">Electron.js Tutorial</h4>
    <div class="row">
      <div class="d-flex col-md-8 offset-2 pt-2">
        <input class="w-100 mr-2" type="text" id="data-input" placeholder="Veri girin...">
        <button class="btn btn-primary flex-shrink-1" id="sendBtn">Gönder (Konsol)</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-2 pt-2">
        <button class="btn-block btn btn-warning" id="showTodoListBtn">Yapılacak Listesini Görüntüle</button>
      </div>
    </div>
  </div>
  
  <!-- Scripts are need to be in here at last line of code -->
  <script type="module" src="../src/renderer.js"></script>  
</body>

</html>