<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css">     
    <title>Yeni Giriş Ekle</title>
</head>
<body>

  <div class="update-container container-fluid d-flex flex-column justify-content-center align-items-center">
    <div class="card shadow pt-2 pb-2" style="width: 30rem;">
      <div class="card-body"> 
        <h5 class="card-title">Yeni Todo Ekle</h5>
        <input autofocus type="text" class="form-control mt-3 mb-3" placeholder="Birşeyler yazın..." id="newTodo">
        <a href="#" class="card-link btn btn-sm btn-outline-warning" id="newTodoSaveBtn">Kaydet</a>
        <a href="#" class="card-link btn btn-sm btn-outline-danger" id="newTodoCancelBtn">İptal</a>
      </div>
    </div>
  </div>  

  <!-- Scripts are need to be in here at last line of code -->
  <script>

    const { ipcRenderer } = require("electron");

    const newTodoCancelBtn = document.getElementById("newTodoCancelBtn");
    newTodoCancelBtn.addEventListener("click", () => {
      ipcRenderer.send("newTodoWindow:close");
    });

    const newTodo = document.getElementById("newTodo");
    const newTodoSaveBtn = document.getElementById("newTodoSaveBtn");
    newTodoSaveBtn.addEventListener("click", () => {
      ipcRenderer.send("newTodoWindow:save", newTodo.value)
    })

  </script>
</body>
</html>