<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css">   
    <title>Yapılacaklar Listesi</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Yapılacaklar</a>
    <div class="col-md d-flex">
      <input type="text" class="form-control form-control-md mr-2" id="quickTodoInput" autofocus>
      <button class="btn btn-success mr-2" id="quickTodoAddBtn">Ekle</button>
      <button class="btn btn-danger" id="todoWindowCloseBtn">Kapat</button>
    </div>
    
  </nav>
  
  <div class="container main-container pt-2">
    <div class="todo-container container">
      <!-- Dynamic elements will show up in here instead of these codes below -->
      <!-- <div class="row">
        <div style="background-color: #582E48!important"
        class="p-2 mb-3 text-light bg-dark col-md-8 offset-2 shadow card d-flex flex-row justify-content-center align-items-center">
          <p class="m-0 w-100">Bu bir yapılacak listesi...</p>
          <button class="btn btn-sm btn-outline-warning flex-shrink-1 mr-1">Düzenle</button>
          <button class="btn btn-sm btn-outline-danger flex-shrink-1">Sil</button>
        </div>
      </div> -->
    </div>

    <div class="nodata-container row">
      <div class="p-2 mb-3 text-light col-md d-flex flex-row justify-content-center align-items-center"
           style="background-color: #356e96!important">
        <b>Hiçbir şey kaydedilmedi!</b>
      </div>
    </div>
    
    <!-- Scripts are need to be in here at last line of code -->
    <script src="../src/todoList.js"></script>  
  </div>
</body>
</html>