<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css">   
    <title>Yapılacaklar Listesi</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Yapılacaklar</a>
    <div class="col-md d-flex">
      <input type="text" class="form-control form-control-md mr-2" id="quickTodoInput" autofocus>
      <button class="btn btn-success mr-2" id="quickTodoAddBtn">Ekle</button>
      <button class="btn btn-danger" id="todoWindowCloseBtn">Kapat</button>
    </div>
    
  </nav>
  
  <div class="container main-container pt-2">
    <div class="todo-container container"></div>

    <div class="nodata-container row">
      <div class="p-2 mb-3 text-light col-md d-flex flex-row justify-content-center align-items-center"
           style="background-color: #356e96!important">
        <b>Hiçbir şey kaydedilmedi!</b>
      </div>
    </div>

    <nav class="navbar fixed-bottom text-white navbar-light bg-dark">
      <span>Toplam kayıt: <b id="totalTodos"></b></span>
    </nav>
    
    <!-- Scripts are need to be in here at last line of code -->
    <script src="../src/todoList.js"></script>  
  </div>
</body>
</html>