<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css">   
    <title>Yapılacaklar Listesi</title>
</head>

<body>
  <div class="container main-container pt-5">

    <h5 class="text-center">Hızlı Ekle</h5>
    <div class="row">
      <div class="col-md-6 offset-3 mt-1 d-flex">
        <input type="text" class="form-control form-control-lg mr-1" id="quickTodoInput" autofocus>
        <button class="btn btn-outline-dark" id="quickTodoAddBtn">Ekle</button>
      </div>
    </div>

    <h5 class="text-center mt-3 mb-3">Yapılacaklar Listesi</h5>
    <div class="todo-container container">
      <!-- Dynamic elements will show up in here instead of these codes below -->
      <!-- <div class="row">
        <div style="background-color: #582E48!important"
        class="p-2 mb-3 text-light bg-dark col-md-8 offset-2 shadow card d-flex flex-row justify-content-center align-items-center">
          <p class="m-0 w-100">Bu bir yapılacak listesi...</p>
          <button class="btn btn-sm btn-outline-warning flex-shrink-1 mr-1">Düzenle</button>
          <button class="btn btn-sm btn-outline-danger flex-shrink-1">Sil</button>
        </div>
      </div> -->
    </div>

    <div class="nodata-container row">
      <div class="p-2 mb-3 text-light col-md-8 offset-2 d-flex flex-row justify-content-center align-items-center"
           style="background-color: #356e96!important">
        <b>Hiçbir şey kaydedilmedi!</b>
      </div>
    </div>
    
    <!-- Scripts are need to be in here at last line of code -->
    <script src="../src/todoList.js"></script>  
  </div>
</body>
</html>